/* Remove default margins & hide scrollbars */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevents mobile scroll bouncing */
  background-color: rgb(3, 253, 153);
}

/* Make canvas fill full mobile screen */
#canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}